################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuestSystem/FileContentIndex
/QuestSystem/.vs/QuestSystem/FileContentIndex/522ed143-ba58-4d12-9bb3-634abbfe71cb.vsidx
