################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuestSystem/FileContentIndex
/QuestSystem/.vs/QuestSystem/FileContentIndex/522ed143-ba58-4d12-9bb3-634abbfe71cb.vsidx
/QuestSystem/.vs/QuestSystem/FileContentIndex/a043a4aa-9679-4914-a81b-005286c74a1a.vsidx
